<app-toolbar></app-toolbar>
<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>SIGNUP</h2>
      <div class="underline-title"></div>
    </div>
    <form class="form" #signupForm="ngForm" (ngSubmit)="submitSignup(signupForm)" autocomplete="off" >
      <!--  -->
      <label for="user-name" style="padding-top: 13px"> &nbsp;Username </label>
      <input
      [(ngModel)]="username"
        id="user-name"
        class="form-content"
        type="text"
        autocomplete="on"
        name="username"
        required
      />
      <div class="form-border"></div>
      <!--  -->
      <label for="user-email" style="padding-top: 13px"> &nbsp;Email </label>
      <input
      [(ngModel)]="email"
        id="user-email"
        class="form-content"
        type="email"
        autocomplete="on"
        name="email"
        required
      />
      <div class="form-border"></div>
      <label for="user-password" style="padding-top: 22px"
        >&nbsp;Password
      </label>
      <input
      [(ngModel)]="password"
        id="user-password"
        class="form-content"
        type="password"
        name="password"
        required
      />
      <div class="form-border"></div>
      <!--  -->
      <label for="user-confirm-password" style="padding-top: 22px"
        >&nbsp;Confirm Password
      </label>
      <input
      #ConfirmPassword="ngModel"
      [(ngModel)]="confirmPassword"
        id="user-confirm-password"
        class="form-content"
        type="password"
        name="confirmPassword"
        required
      />
      <div class="form-border"></div>
      <!-- <div *ngIf="ConfirmPassword.dirty && this.errorSignup">
        {{errorMessage}}
      </div> -->
      <!-- <ng-template #alternate>
        Fill all fields
      </ng-template> -->
      <!--  -->
      <!-- <input id="submit-btn" type="submit" name="submit" value="SIGNUP" /> -->
      <button  type="submit" id="submit-btn" name="submit">SIGNUP</button>
    </form>
  </div>
</div>
